<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <title>Tod Do Items</title>
    <style>
        body{
            background-color: #FAFAFA;
            font-family: 'Nunito', sans-serif;
            padding-top: 50px;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6{
            font-family: 'Raleway', sans-serif;
        }
        a,
        p{
            color: #4b5156;
        }
        .container{
            max-width: 550px;
            margin: auto;
            background-color: #fff;
            -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
            box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
        }
        .header-bar{
            display: flex;
            justify-content: space-between;
            color: #fff;
            padding: 10px;
            border-radius: 5px 5px 0 0;
            background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);
        }
        .header-bar a{
            color: rgb(247, 247, 247);
            text-decoration: none;
        }
        .task-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: #fff;
            border-top: 1px solid rgb(226, 226, 226);
        }
        .task-title{
            display: flex;
        }
        .task-title a{
            text-decoration: none;
            color: #4b5156;
            margin-left: 30px;
        }
        .task-complete-icon{
            height: 20px;
            width: 20px;
            background-color: rgb(105, 192, 105);
            border-radius: 50%;
        }
        .task-incomplete-icon{
            height: 20px;
            width: 20px;
            background-color: rgb(218, 218, 218);
            border-radius: 50%;
        }
        .delete-link{
            text-decoration: none;
            font-weight: 900;
            color: #cf4949;
            font-size: 22px;
            line-height: 0;
        }

        #search-add-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        #add-link{
            color: #EB796F;
            text-decoration: none;
            font-size: 42px;
            text-shadow: 1px 1px #81413b;
        }
        input[type=text],
        input[type=password],
        textarea{
            border: 1px solid #E8796F;
            border-radius: 5px;
            padding: 10px;
            width: 90%;
        }
        label{
            padding: 10px !important;
            display: block;
        }
        .button{
            border: 1px solid #E8796F;
            background-color: #FAFAFA;
            color: #E8796F;
            padding: 10px;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .card-body{
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>